@charset "UTF-8";

/* CSS Document */

.hidden {
    display: none;
}

.audio-item {
    margin-right: 10px;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.pause-play-buttons {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.dropzone {
    border: 2px dashed white;
    padding: 20px;
    text-align: center;
    flex: 1;
    width: calc(25% - 20px);
    height: 25vh;
    cursor: pointer;
}

.dropzone-container {
    display: flex;
    height: 30vh;
    width: 100vh;
}

.highlight {
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    background-image: url('../images/SnowyMountain.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
